In [1]:
!pip install pandas_ta

Requirement already satisfied: pandas_ta in c:\users\popaz\anaconda3\lib\site-packages (0.3.14b0)
Requirement already satisfied: pandas in c:\users\popaz\anaconda3\lib\site-packages (from pandas_ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\popaz\anaconda3\lib\site-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\popaz\anaconda3\lib\site-packages (from pandas->pandas_ta) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\popaz\anaconda3\lib\site-packages (from pandas->pandas_ta) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\popaz\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandas_ta) (1.12.0)

WARNING: Error parsing dependencies of textract: .* suffix can only be used with `==` or `!=` operators
    extract-msg (<=0.29.*)
                 ~~~~~~~^

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from plotly._subplots import make_subplots
from hstrader import HsTrader
from hstrader.models import Tick, Event
import plotly.graph_objects as go
import pandas as pd
from datetime import timedelta
import os
from dotenv import load_dotenv
import logging
import asyncio
import numpy as np
from plotly._subplots import make_subplots
from IPython.display import display, clear_output
import nest_asyncio
import pandas_ta as ta

def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

C:\Users\popaz\anaconda3\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\popaz\anaconda3\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\popaz\anaconda3\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [98]:
!pip install hstrader

Requirement already satisfied: hstrader in c:\users\popaz\anaconda3\lib\site-packages (1.1.0)

WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'
DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063
WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\popaz\anaconda3\Lib\site-packages\numpy-1.24.3.dist-info due to invalid metadata entry 'name'

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pydantic in c:\users\popaz\anaconda3\lib\site-packages (from hstrader) (1.10.12)
Requirement already satisfied: requests in c:\users\popaz\anaconda3\lib\site-packages (from hstrader) (2.31.0)
Requirement already satisfied: websockets in c:\users\popaz\anaconda3\lib\site-packages (from hstrader) (11.0.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\popaz\anaconda3\lib\site-packages (from pydantic->hstrader) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\popaz\anaconda3\lib\site-packages (from requests->hstrader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\popaz\anaconda3\lib\site-packages (from requests->hstrader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\popaz\anaconda3\lib\site-packages (from requests->hstrader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\popaz\anaconda3\lib\site-packages (from requests->hstrader) (2023.11.17)

In [29]:
os.listdir()

['.devcontainer',
 '.git',
 '.ipynb_checkpoints',
 'app.py',
 'crudeoil',
 'crudeoil.xlsx',
 'crudeoildaily.xlsx',
 'requirements.txt',
 'Untitled.ipynb']

In [48]:
df = pd.read_excel('crudeoildaily.xlsx')

In [49]:
df

           Date  Price   Open   High    Low     Vol.  Change %
0    2014-01-01  98.70  98.61  98.76  98.54      NaN    0.0028
1    2014-01-02  95.44  98.50  98.97  95.34  251.25K   -0.0330
2    2014-01-03  93.96  95.47  95.74  93.86  215.52K   -0.0155
3    2014-01-06  93.43  94.18  94.59  93.20  189.38K   -0.0056
4    2014-01-07  93.67  93.60  94.22  93.35  177.18K    0.0026
...         ...    ...    ...    ...    ...      ...       ...
2852 2024-10-30  68.61  67.47  69.17  67.28  284.80K    0.0208
2853 2024-10-31  69.26  69.10  70.81  68.30  311.06K    0.0095
2854 2024-11-01  69.49  70.44  71.45  69.32  320.57K    0.0033
2855 2024-11-03  70.54  70.51  70.59  70.28      NaN    0.0151
2856 2024-11-04  71.24  70.53  71.24  70.36      NaN    0.0099

[2857 rows x 7 columns]

In [51]:
def convert_volume(value):
    if isinstance(value, str):
        value = value.replace(',', '').strip()  # Eliminăm virgulă și spații
        if value.endswith('K'):  # Dacă se termină cu 'K'
            return float(value[:-1]) * 1_000
        elif value.endswith('M'):  # Dacă se termină cu 'M'
            return float(value[:-1]) * 1_000_000
        else:  # Dacă nu are sufix
            return float(value)
    return value  # Returnăm valoarea originală dacă nu e string

In [52]:
df['Vol.'] = df['Vol.'].apply(convert_volume)

In [54]:
df['Vol.'] = df['Vol.'].fillna(method='ffill').fillna(method='bfill')

In [55]:
df["Vol."]

0       251250.0
1       251250.0
2       215520.0
3       189380.0
4       177180.0
          ...
2852    284800.0
2853    311060.0
2854    320570.0
2855    320570.0
2856    320570.0
Name: Vol., Length: 2857, dtype: float64

In [56]:
df.rename(columns={'Price': 'Close'}, inplace=True)

In [57]:
df.ta.macd(append=True)

      MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
...            ...            ...            ...
2852     -0.665192      -0.402432      -0.262760
2853     -0.658859      -0.316879      -0.341980
2854     -0.628042      -0.228849      -0.399193
2855     -0.512979      -0.091029      -0.421950
2856     -0.361144       0.048645      -0.409789

[2857 rows x 3 columns]

In [58]:
df.ta.atr(length=14, append=True)

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
2852    2.567176
2853    2.563092
2854    2.536442
2855    2.433839
2856    2.322851
Name: ATRr_14, Length: 2857, dtype: float64

In [59]:
df.ta.rsi(length=14, append=True)

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2852    45.089711
2853    46.887589
2854    47.542099
2855    50.538722
2856    52.487328
Name: RSI_14, Length: 2857, dtype: float64

In [60]:
df.ta.adx(length=14, append=True)

         ADX_14     DMP_14     DMN_14
0           NaN        NaN        NaN
1           NaN        NaN        NaN
2           NaN        NaN        NaN
3           NaN        NaN        NaN
4           NaN        NaN        NaN
...         ...        ...        ...
2852  13.791132  17.615669  20.026235
2853  13.226261  20.953844  18.625420
2854  13.012884  21.463869  17.476745
2855  12.814749  20.770952  16.912545
2856  12.962227  22.207659  16.454885

[2857 rows x 3 columns]

In [61]:
# Calcularea Bollinger Bands
bb = ta.bbands(df['Close'], length=20, std=2)
df['BB_lower'] = bb['BBL_20_2.0']  # Banda inferioară
df['BB_mid'] = bb['BBM_20_2.0']    # Banda mediană
df['BB_upper'] = bb['BBU_20_2.0']  # Banda superioară

In [62]:
df['OBV'] = ta.obv(df['Close'], df['Vol.'])

In [65]:
# Calculează PSAR folosind pandas_ta
psar_values = ta.psar(df['High'], df['Low'], df['Close'])

In [67]:
psar_values.tail()

      PSARl_0.02_0.2  PSARs_0.02_0.2  PSARaf_0.02_0.2  PSARr_0.02_0.2
2852             NaN       71.980172             0.12               0
2853             NaN       71.348951             0.12               0
2854       66.720000             NaN             0.02               1
2855       66.814600             NaN             0.02               0
2856       66.907308             NaN             0.02               0

In [68]:
stochastic = ta.stoch(high=df['High'], low=df['Low'], close=df['Close'], k=14, d=3)

In [69]:
stochastic

      STOCHk_14_3_3  STOCHd_14_3_3
13              NaN            NaN
14              NaN            NaN
15        60.159971            NaN
16        79.267214            NaN
17        90.369179      76.598788
...             ...            ...
2852      11.028333      16.271141
2853      20.327305      15.883650
2854      34.000694      21.785444
2855      48.077469      34.135156
2856      62.345679      48.141281

[2844 rows x 2 columns]

In [70]:
df['Stoch_K'] = stochastic['STOCHk_14_3_3']
df['Stoch_D'] = stochastic['STOCHd_14_3_3']

In [71]:
df

,Date,Close,Open,High,Low,Vol.,Change %,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,...,RSI_14,ADX_14,DMP_14,DMN_14,BB_lower,BB_mid,BB_upper,OBV,Stoch_K,Stoch_D
0,2014-01-01,98.70,98.61,98.76,98.54,251250.0,0.0028,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251250.0,NaN,NaN
1,2014-01-02,95.44,98.50,98.97,95.34,251250.0,-0.0330,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2014-01-03,93.96,95.47,95.74,93.86,215520.0,-0.0155,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-215520.0,NaN,NaN
3,2014-01-06,93.43,94.18,94.59,93.20,189380.0,-0.0056,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-404900.0,NaN,NaN
4,2014-01-07,93.67,93.60,94.22,93.35,177180.0,0.0026,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-227720.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852,2024-10-30,68.61,67.47,69.17,67.28,284800.0,0.0208,-0.665192,-0.402432,-0.262760,...,45.089711,13.791132,17.615669,20.026235,66.412733,71.4385,76.464267,22410160.0,11.028333,16.271141
2853,2024-10-31,69.26,69.10,70.81,68.30,311060.0,0.0095,-0.658859,-0.316879,-0.341980,...,46.887589,13.226261,20.953844,18.625420,66.197705,71.2430,76.288295,22721220.0,20.327305,15.883650
2854,2024-11-01,69.49,70.44,71.45,69.32,320570.0,0.0033,-0.628042,-0.228849,-0.399193,...,47.542099,13.012884,21.463869,17.476745,66.062962,71.0335,76.004038,23041790.0,34.000694,21.785444
2855,2024-11-03,70.54,70.51,70.59,70.28,320570.0,0.0151,-0.512979,-0.091029,-0.421950,...,50.538722,12.814749,20.770952,16.912545,66.436744,70.7370,75.037256,23362360.0,48.077469,34.135156
2856,2024-11-04,71.24,70.53,71.24,70.36,320570.0,0.0099,-0.361144,0.048645,-0.409789,...,52.487328,12.962227,22.207659,16.454885,66.465945,70.6500,74.834055,23682930.0,62.345679,48.141281

In [72]:
df.rename(columns={
    'Price': 'Close',
    'MACD_12_26_9': 'MACD',
    'MACDh_12_26_9': 'MACDh',
    'MACDs_12_26_9': 'MACDs',
    'ATRr_14': 'ATR',
    'RSI_14': 'RSI',
    'ADX_14': 'ADX',
    'DMP_14': '+DI',
    'DMN_14': '-DI'
    }, inplace=True)

In [85]:
df=df.dropna()

In [86]:
df

,Date,Close,Open,High,Low,Vol.,Change %,MACD,MACDh,MACDs,...,RSI,ADX,+DI,-DI,BB_lower,BB_mid,BB_upper,OBV,Stoch_K,Stoch_D
33,2014-02-17,100.58,100.59,100.83,100.23,229780.0,0.0028,1.789345,0.122546,1.666799,...,67.577962,21.708778,25.011151,12.849235,94.729131,98.1105,101.491869,463790.0,82.966237,83.527199
34,2014-02-18,102.43,100.32,103.25,100.23,177370.0,0.0183,1.913420,0.197296,1.716123,...,74.090676,24.311092,33.214351,10.937001,94.923816,98.4825,102.041184,641160.0,84.620449,83.434916
35,2014-02-19,103.31,103.14,103.80,102.40,116160.0,0.0086,2.059023,0.274320,1.784703,...,76.508013,26.906384,33.634237,10.180614,94.776903,98.8115,102.846097,757320.0,88.715094,85.433927
36,2014-02-20,102.92,103.41,103.50,102.75,36260.0,-0.0038,2.118524,0.267057,1.851467,...,73.246389,29.230712,32.343750,9.790002,94.744615,99.0915,103.438385,721060.0,90.033065,87.789536
37,2014-02-21,102.20,102.87,102.92,101.69,173260.0,-0.0070,2.083563,0.185676,1.897886,...,67.523267,29.712768,30.291097,14.637920,94.974405,99.3695,103.764595,547800.0,86.765306,88.504488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852,2024-10-30,68.61,67.47,69.17,67.28,284800.0,0.0208,-0.665192,-0.402432,-0.262760,...,45.089711,13.791132,17.615669,20.026235,66.412733,71.4385,76.464267,22410160.0,11.028333,16.271141
2853,2024-10-31,69.26,69.10,70.81,68.30,311060.0,0.0095,-0.658859,-0.316879,-0.341980,...,46.887589,13.226261,20.953844,18.625420,66.197705,71.2430,76.288295,22721220.0,20.327305,15.883650
2854,2024-11-01,69.49,70.44,71.45,69.32,320570.0,0.0033,-0.628042,-0.228849,-0.399193,...,47.542099,13.012884,21.463869,17.476745,66.062962,71.0335,76.004038,23041790.0,34.000694,21.785444
2855,2024-11-03,70.54,70.51,70.59,70.28,320570.0,0.0151,-0.512979,-0.091029,-0.421950,...,50.538722,12.814749,20.770952,16.912545,66.436744,70.7370,75.037256,23362360.0,48.077469,34.135156
2856,2024-11-04,71.24,70.53,71.24,70.36,320570.0,0.0099,-0.361144,0.048645,-0.409789,...,52.487328,12.962227,22.207659,16.454885,66.465945,70.6500,74.834055,23682930.0,62.345679,48.141281

In [89]:
df=df.reset_index(drop=True)

In [93]:
df=df.drop('index', axis=1)

In [94]:
df.head(40)

,Date,Close,Open,High,Low,Vol.,Change %,MACD,MACDh,MACDs,...,RSI,ADX,+DI,-DI,BB_lower,BB_mid,BB_upper,OBV,Stoch_K,Stoch_D
0,2014-02-17,100.58,100.59,100.83,100.23,229780.0,0.0028,1.789345,0.122546,1.666799,...,67.577962,21.708778,25.011151,12.849235,94.729131,98.1105,101.491869,463790.0,82.966237,83.527199
1,2014-02-18,102.43,100.32,103.25,100.23,177370.0,0.0183,1.913420,0.197296,1.716123,...,74.090676,24.311092,33.214351,10.937001,94.923816,98.4825,102.041184,641160.0,84.620449,83.434916
2,2014-02-19,103.31,103.14,103.80,102.40,116160.0,0.0086,2.059023,0.274320,1.784703,...,76.508013,26.906384,33.634237,10.180614,94.776903,98.8115,102.846097,757320.0,88.715094,85.433927
3,2014-02-20,102.92,103.41,103.50,102.75,36260.0,-0.0038,2.118524,0.267057,1.851467,...,73.246389,29.230712,32.343750,9.790002,94.744615,99.0915,103.438385,721060.0,90.033065,87.789536
4,2014-02-21,102.20,102.87,102.92,101.69,173260.0,-0.0070,2.083563,0.185676,1.897886,...,67.523267,29.712768,30.291097,14.637920,94.974405,99.3695,103.764595,547800.0,86.765306,88.504488
5,2014-02-24,102.82,102.29,103.45,101.97,177860.0,0.0061,2.081886,0.147200,1.934686,...,69.717498,30.486648,30.710528,13.525616,95.419831,99.7245,104.029169,725660.0,84.264864,87.021078
6,2014-02-25,101.83,102.80,102.84,101.02,187220.0,-0.0096,1.977873,0.034549,1.943324,...,62.460700,29.953603,27.902616,17.061475,95.685211,99.9455,104.205789,538440.0,78.339581,83.123250
7,2014-02-26,102.59,102.04,102.90,101.58,196520.0,0.0075,1.934468,-0.007085,1.941553,...,65.435114,29.515924,26.345768,15.924259,95.971644,100.2070,104.442356,734960.0,79.488789,80.697745
8,2014-02-27,102.40,102.57,103.08,101.75,196490.0,-0.0019,1.863259,-0.062635,1.925894,...,64.068381,29.258124,25.481643,14.850217,96.179405,100.4155,104.651595,538470.0,74.205207,77.344526
9,2014-02-28,102.59,102.15,102.96,101.80,178280.0,0.0019,1.801392,-0.099601,1.900994,...,64.858830,29.023785,23.963530,13.965490,96.557304,100.6705,104.783696,716750.0,74.854186,76.182727
10,2014-03-03,104.92,103.00,105.22,102.95,295820.0,0.0227,1.918261,0.013814,1.904447,...,72.769872,30.272508,31.832987,12.191982,97.068480,101.0950,105.121520,1012570.0,79.164872,76.074755
11,2014-03-04,103.33,104.89,104.96,102.85,210010.0,-0.0152,1.861127,-0.034656,1.895783,...,62.439769,31.277273,28.685585,11.455122,97.689170,101.4020,105.114830,802560.0,78.290378,77.436478
12,2014-03-05,101.45,103.35,103.53,100.85,267840.0,-0.0182,1.645182,-0.200481,1.845663,...,52.881072,29.932609,25.268254,18.980809,98.382983,101.6055,104.828017,534720.0,65.752957,74.402736
13,2014-03-06,101.56,101.04,102.08,100.13,291850.0,0.0011,1.466022,-0.303713,1.769735,...,53.331249,28.057456,23.110886,20.512695,99.069212,101.7915,104.513788,826570.0,43.502604,62.515313
14,2014-03-07,102.58,101.97,102.91,101.57,226150.0,0.0100,1.390314,-0.303536,1.693851,...,57.395968,26.942027,25.407197,19.285101,99.331981,101.9265,104.521019,1052720.0,37.038545,48.764702
15,2014-03-10,101.12,102.75,102.82,100.85,225290.0,-0.0142,1.198688,-0.396130,1.594818,...,50.602194,25.292787,23.223111,20.769095,99.498851,101.9795,104.460149,827430.0,31.892600,37.477916
16,2014-03-11,100.03,100.94,101.52,99.32,294200.0,-0.0108,0.947942,-0.517501,1.465443,...,46.204987,24.061649,21.047167,25.339311,99.517882,101.9840,104.450118,533230.0,26.539132,31.823426
17,2014-03-12,97.99,99.48,99.60,97.55,416930.0,-0.0204,0.577950,-0.709994,1.287944,...,39.318566,23.962988,18.897614,30.040536,98.916356,101.8650,104.813644,116300.0,12.406812,23.612848
18,2014-03-13,98.20,98.10,98.60,97.67,268070.0,0.0021,0.298237,-0.791766,1.090003,...,40.304885,23.872305,18.149058,28.850596,98.459671,101.7575,105.055329,384370.0,8.748370,15.898105
19,2014-03-14,98.89,98.25,99.28,98.06,226300.0,0.0070,0.130732,-0.767417,0.898149,...,43.551483,23.211037,20.141053,27.321670,98.212026,101.6870,105.161974,610670.0,10.560626,10.571936
20,2014-03-17,98.08,99.39,99.39,97.37,227390.0,-0.0082,-0.066609,-0.771806,0.705197,...,40.749698,23.009361,18.402146,27.911930,97.771229,101.5620,105.352771,383280.0,11.663276,10.324091
21,2014-03-18,99.70,97.97,99.78,97.75,192510.0,0.0165,-0.091231,-0.637143,0.545912,...,47.960442,22.486180,18.471336,25.526762,97.573469,101.4255,105.277531,575790.0,18.732260,13.652054
22,2014-03-19,100.37,99.53,100.47,99.34,110320.0,0.0067,-0.056035,-0.481557,0.425522,...,50.636175,21.428235,20.546793,24.282833,97.501696,101.2785,105.055304,686110.0,25.647558,18.681031
23,2014-03-20,99.43,100.39,100.82,99.08,33880.0,-0.0094,-0.102807,-0.422663,0.319856,...,46.985987,20.170197,20.514505,22.467291,97.324194,101.1040,104.883806,652230.0,31.380042,25.253287
24,2014-03-21,99.46,98.59,100.25,98.25,191290.0,0.0003,-0.135887,-0.364595,0.228708,...,47.117010,19.591072,18.776735,24.079539,97.157517,100.9670,104.776483,843520.0,30.664944,29.230848
25,2014-03-24,99.60,99.49,100.29,99.05,151710.0,0.0014,-0.149087,-0.302236,0.153149,...,47.765800,19.021203,17.944263,22.790513,97.051603,100.8060,104.560397,995230.0,29.993190,30.679392
26,2014-03-25,99.19,99.43,100.25,98.80,217010.0,-0.0041,-0.190437,-0.274869,0.084432,...,45.986461,18.675483,16.810982,22.440054,96.887395,100.6740,104.460605,778220.0,32.196505,30.951546
27,2014-03-26,100.26,99.18,100.46,99.10,211370.0,0.0108,-0.135308,-0.175791,0.040484,...,51.105477,18.149803,16.728839,21.094396,96.871831,100.5575,104.243169,989590.0,40.406450,34.198715
28,2014-03-27,101.28,100.30,101.70,100.03,202200.0,0.0102,-0.009205,-0.039751,0.030546,...,55.440807,17.071440,20.955231,19.544517,96.896358,100.5015,104.106642,1191790.0,52.253723,41.618893
29,2014-03-28,101.67,101.34,102.24,101.18,166330.0,0.0039,0.120809,0.072210,0.048598,...,57.010356,16.495245,22.389311,18.609868,96.935656,100.4555,103.975344,1358120.0,70.734957,54.465043
30,2014-03-31,101.58,101.69,101.97,100.88,167570.0,-0.0009,0.214115,0.132414,0.081702,...,56.515626,15.687789,21.263259,19.058144,97.365438,100.2885,103.211562,1190550.0,82.162149,68.383610
31,2014-04-01,99.74,101.53,101.57,99.28,237560.0,-0.0181,0.137998,0.045037,0.092961,...,47.449765,15.411070,19.082359,24.238483,97.535008,100.1090,102.682992,952990.0,74.469541,75.788882
32,2014-04-02,99.62,99.64,99.83,98.86,231600.0,-0.0012,0.067217,-0.020595,0.087812,...,46.921128,15.441025,18.232997,25.086871,97.511484,100.0175,102.523516,721390.0,60.438056,72.356582
33,2014-04-03,100.29,99.29,100.49,99.07,195430.0,0.0067,0.064443,-0.018696,0.083138,...,50.253574,14.877867,20.085093,23.441912,97.545063,99.9540,102.362937,916820.0,51.608487,62.172028
34,2014-04-04,101.14,100.38,101.63,100.28,193530.0,0.0085,0.129341,0.036962,0.092379,...,54.183565,14.137339,24.133941,21.967181,97.717656,99.8820,102.046344,1110350.0,60.553759,57.533434
35,2014-04-07,100.44,100.91,101.32,99.92,254880.0,-0.0069,0.122873,0.024395,0.098478,...,50.635828,13.164709,22.549637,22.213165,97.741936,99.8480,101.954064,855470.0,63.449088,58.537112
36,2014-04-08,102.56,100.69,102.71,100.68,299550.0,0.0211,0.285522,0.149635,0.135887,...,59.322618,13.240199,26.527887,19.928761,97.558748,99.9745,102.390252,1155020.0,75.675034,66.559294
37,2014-04-09,103.60,102.35,103.77,102.03,324660.0,0.0101,0.492663,0.285421,0.207242,...,62.782613,13.933116,29.219030,18.369338,97.541637,100.2550,102.968363,1479680.0,82.814760,73.979627
38,2014-04-10,103.40,103.44,103.81,103.10,222170.0,-0.0019,0.633384,0.340913,0.292470,...,61.695789,14.597788,28.434996,17.758693,97.646980,100.5150,103.383020,1257510.0,95.124476,84.538090
39,2014-04-11,103.74,103.34,104.44,103.01,261920.0,0.0033,0.763540,0.376855,0.386684,...,62.872446,15.571607,29.485573,16.564343,97.668436,100.7575,103.846564,1519430.0,92.108437,90.015891

In [95]:
df

,Date,Close,Open,High,Low,Vol.,Change %,MACD,MACDh,MACDs,...,RSI,ADX,+DI,-DI,BB_lower,BB_mid,BB_upper,OBV,Stoch_K,Stoch_D
0,2014-02-17,100.58,100.59,100.83,100.23,229780.0,0.0028,1.789345,0.122546,1.666799,...,67.577962,21.708778,25.011151,12.849235,94.729131,98.1105,101.491869,463790.0,82.966237,83.527199
1,2014-02-18,102.43,100.32,103.25,100.23,177370.0,0.0183,1.913420,0.197296,1.716123,...,74.090676,24.311092,33.214351,10.937001,94.923816,98.4825,102.041184,641160.0,84.620449,83.434916
2,2014-02-19,103.31,103.14,103.80,102.40,116160.0,0.0086,2.059023,0.274320,1.784703,...,76.508013,26.906384,33.634237,10.180614,94.776903,98.8115,102.846097,757320.0,88.715094,85.433927
3,2014-02-20,102.92,103.41,103.50,102.75,36260.0,-0.0038,2.118524,0.267057,1.851467,...,73.246389,29.230712,32.343750,9.790002,94.744615,99.0915,103.438385,721060.0,90.033065,87.789536
4,2014-02-21,102.20,102.87,102.92,101.69,173260.0,-0.0070,2.083563,0.185676,1.897886,...,67.523267,29.712768,30.291097,14.637920,94.974405,99.3695,103.764595,547800.0,86.765306,88.504488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,2024-10-30,68.61,67.47,69.17,67.28,284800.0,0.0208,-0.665192,-0.402432,-0.262760,...,45.089711,13.791132,17.615669,20.026235,66.412733,71.4385,76.464267,22410160.0,11.028333,16.271141
2820,2024-10-31,69.26,69.10,70.81,68.30,311060.0,0.0095,-0.658859,-0.316879,-0.341980,...,46.887589,13.226261,20.953844,18.625420,66.197705,71.2430,76.288295,22721220.0,20.327305,15.883650
2821,2024-11-01,69.49,70.44,71.45,69.32,320570.0,0.0033,-0.628042,-0.228849,-0.399193,...,47.542099,13.012884,21.463869,17.476745,66.062962,71.0335,76.004038,23041790.0,34.000694,21.785444
2822,2024-11-03,70.54,70.51,70.59,70.28,320570.0,0.0151,-0.512979,-0.091029,-0.421950,...,50.538722,12.814749,20.770952,16.912545,66.436744,70.7370,75.037256,23362360.0,48.077469,34.135156
2823,2024-11-04,71.24,70.53,71.24,70.36,320570.0,0.0099,-0.361144,0.048645,-0.409789,...,52.487328,12.962227,22.207659,16.454885,66.465945,70.6500,74.834055,23682930.0,62.345679,48.141281

In [97]:
df.to_excel('crudeoil.xlsx', index=False)

In [96]:
df.columns.tolist()

['Date',
 'Close',
 'Open',
 'High',
 'Low',
 'Vol.',
 'Change %',
 'MACD',
 'MACDh',
 'MACDs',
 'ATR',
 'RSI',
 'ADX',
 '+DI',
 '-DI',
 'BB_lower',
 'BB_mid',
 'BB_upper',
 'OBV',
 'Stoch_K',
 'Stoch_D']